/* Century Schoolbook font is very similar to Computer Modern Math: cmmi */
.MATH    { font-family: "Century Schoolbook", serif; }
.MATH I  { font-family: "Century Schoolbook", serif; font-style: italic }
.BOLDMATH { font-family: "Century Schoolbook", serif; font-weight: bold }
DIV.equation { text-align-last:justify; white-space: nowrap; } /* place eq nos */
SPAN.MATH { display:inline-block; }	/* don't stretch spaces inside eqn */

.LEFT    { text-align:left; }
.CENTER  { text-align:center; }
.CENTER > * { margin:auto; }
.RIGHT   { text-align:right; }
.TOP     { vertical-align:top; }
.MIDDLE  { vertical-align:middle; }
.BOTTOM  { vertical-align:bottom; }

IMG.LEFT    { float:left; }
IMG.RIGHT   { float:right; }
IMG.TOP     { vertical-align:top; }
IMG.BOTTOM  { vertical-align:baseline; }

DL.COMPACT > dt { float:left; padding-right: 1em; }
BODY { width:90%; max-width:50em; margin:auto; text-align:justify; }

/* implement both fixed-size and relative sizes */
SMALL.XTINY		{ font-size : xx-small }
SMALL.TINY		{ font-size : x-small  }
SMALL.SCRIPTSIZE	{ font-size : smaller  }
SMALL.FOOTNOTESIZE	{ font-size : small    }
SMALL.SMALL		{  }
BIG.LARGE		{  }
BIG.XLARGE		{ font-size : large    }
BIG.XXLARGE		{ font-size : x-large  }
BIG.HUGE		{ font-size : larger   }
BIG.XHUGE		{ font-size : xx-large }

/* heading styles */
H1		{  }
H2		{  }
H3		{  }
H4		{  }
H5		{  }

/* mathematics styles */
DIV.displaymath		{ }	/* math displays */
TD.eqno			{ width:0; }	/* equation-number cells */
TABLE.PAD TD	{ padding:3px; }
TABLE.BORDER TD	{ border:1px solid black; }
TABLE.equation	{ width:100%; }	/* place eq nos at right/left edge */
TABLE.equation > *	{ vertical-align:baseline; }
TABLE.equation TD	{ white-space:nowrap; }
TABLE		{ border-collapse: collapse; }

/* document-specific styles come next */
DIV.alltt		{   }
DIV.center		{   }
DIV.navigation		{   }
PRE.preform		{   }
SPAN.tt		{   }
SPAN.arabic		{   }
SPAN.textbf		{ font-weight: bold  }
SPAN.textit		{ font-style: italic  }
SPAN.texttt		{ font-family: monospace  }
#hue1884		{ color: #b05a65;  }
#hue1886		{ color: #585858;  }
#hue1888		{ color: #b05a65;  }
#hue1890		{ color: #317ecc;  }
#hue1892		{ color: #585858;  }
#hue1894		{ color: #b05a65;  }
#hue1896		{ color: #af0f91;  }
#hue1898		{ color: #585858;  }
#hue1900		{ color: #b05a65;  }
#hue1902		{ color: #bc5a65;  }
#hue1905		{ color: #585858;  }
#hue1907		{ color: #317ecc;  }
#hue1909		{ color: #585858;  }
#hue1911		{ color: #000000;  }
#hue1913		{ color: #bc5a65;  }
#hue1916		{ color: #585858;  }
#hue1918		{ color: #585858;  }
#hue1920		{ color: #585858;  }
#hue1922		{ color: #b05a65;  }
#hue1924		{ color: #bc5a65;  }
#hue1927		{ color: #585858;  }
#hue1929		{ color: #bc5a65;  }
#hue1932		{ color: #585858;  }
#hue1934		{ color: #000000;  }
#hue1936		{ color: #585858;  }
#hue1938		{ color: #585858;  }
#hue1940		{ color: #000000;  }
#hue1942		{ color: #585858;  }
#hue1944		{ color: #000000;  }
#hue1946		{ color: #585858;  }
#hue1948		{ color: #585858;  }
#hue1950		{ color: #000000;  }
#hue1952		{ color: #585858;  }
#hue1954		{ color: #bc5a65;  }
#hue1957		{ color: #585858;  }
#hue1959		{ color: #317ecc;  }
#hue1961		{ color: #000000;  }
#hue1963		{ color: #585858;  }
#hue1965		{ color: #000000;  }
#hue1967		{ color: #585858;  }
#hue1969		{ color: #bc5a65;  }
#hue1972		{ color: #585858;  }
#hue1974		{ color: #585858;  }
#hue1976		{ color: #b05a65;  }
#hue1978		{ color: #317ecc;  }
#hue1980		{ color: #585858;  }
#hue1982		{ color: #b05a65;  }
#hue1984		{ color: #af0f91;  }
#hue1986		{ color: #585858;  }
#hue1988		{ color: #b05a65;  }
#hue1990		{ color: #bc5a65;  }
#hue1993		{ color: #585858;  }
#hue1995		{ color: #317ecc;  }
#hue1997		{ color: #585858;  }
#hue1999		{ color: #000000;  }
#hue2001		{ color: #bc5a65;  }
#hue2004		{ color: #585858;  }
#hue2006		{ color: #585858;  }
#hue2008		{ color: #585858;  }
#hue2010		{ color: #b05a65;  }
#hue2012		{ color: #585858;  }
#hue2014		{ color: #000000;  }
#hue2016		{ color: #bc5a65;  }
#hue2019		{ color: #585858;  }
#hue2021		{ color: #bc5a65;  }
#hue2024		{ color: #585858;  }
#hue2026		{ color: #317ecc;  }
#hue2028		{ color: #585858;  }
#hue2030		{ color: #317ecc;  }
#hue2032		{ color: #585858;  }
#hue2034		{ color: #585858;  }
#hue2036		{ color: #b05a65;  }
#hue2038		{ color: #585858;  }
#hue2040		{ color: #000000;  }
#hue2042		{ color: #bc5a65;  }
#hue2045		{ color: #585858;  }
#hue2047		{ color: #bc5a65;  }
#hue2050		{ color: #585858;  }
#hue2052		{ color: #bc5a65;  }
#hue2055		{ color: #585858;  }
#hue2057		{ color: #317ecc;  }
#hue2059		{ color: #585858;  }
#hue2061		{ color: #bc5a65;  }
#hue2064		{ color: #585858;  }
#hue2066		{ color: #000000;  }
#hue2068		{ color: #bc5a65;  }
#hue2071		{ color: #585858;  }
#hue2073		{ color: #ad95af;  }
#hue2076		{ color: #bc5a65;  }
#hue2079		{ color: #585858;  }
#hue2081		{ color: #000000;  }
#hue2083		{ color: #585858;  }
#hue2085		{ color: #000000;  }
#hue2087		{ color: #585858;  }
#hue2089		{ color: #55aa55;  }
#hue2091		{ color: #585858;  }
#hue2093		{ color: #317ecc;  }
#hue2095		{ color: #585858;  }
#hue2097		{ color: #bc5a65;  }
#hue2100		{ color: #585858;  }
#hue2102		{ color: #bc5a65;  }
#hue2105		{ color: #585858;  }
#hue2107		{ color: #317ecc;  }
#hue2109		{ color: #585858;  }
#hue2111		{ color: #317ecc;  }
#hue2113		{ color: #585858;  }
#hue2115		{ color: #bc5a65;  }
#hue2118		{ color: #585858;  }
#hue2120		{ color: #bc5a65;  }
#hue2123		{ color: #585858;  }
#hue2125		{ color: #317ecc;  }
#hue2127		{ color: #585858;  }
#hue2129		{ color: #317ecc;  }
#hue2131		{ color: #585858;  }
#hue2133		{ color: #bc5a65;  }
#hue2136		{ color: #585858;  }
#hue2138		{ color: #585858;  }
#hue2140		{ color: #000000;  }
#hue2142		{ color: #bc5a65;  }
#hue2145		{ color: #585858;  }
#hue2147		{ color: #000000;  }
#hue2149		{ color: #ad95af;  }
#hue2152		{ color: #585858;  }
#hue2154		{ color: #000000;  }
#hue2156		{ color: #bc5a65;  }
#hue2159		{ color: #585858;  }
#hue2161		{ color: #000000;  }
#hue2163		{ color: #af0f91;  }
#hue2165		{ color: #585858;  }
#hue2167		{ color: #000000;  }
#hue2169		{ color: #ad95af;  }
#hue2172		{ color: #585858;  }
#hue2174		{ color: #000000;  }
#hue2176		{ color: #bc5a65;  }
#hue2179		{ color: #585858;  }
#hue2181		{ color: #000000;  }
#hue2183		{ color: #ad95af;  }
#hue2186		{ color: #585858;  }
#hue2188		{ color: #000000;  }
#hue2190		{ color: #bc5a65;  }
#hue2193		{ color: #585858;  }
#hue2195		{ color: #55aa55;  }
#hue2197		{ color: #585858;  }
#hue2199		{ color: #000000;  }
#hue2201		{ color: #585858;  }
#hue2203		{ color: #000000;  }
#hue2205		{ color: #ad95af;  }
#hue2208		{ color: #585858;  }
#hue2210		{ color: #000000;  }
#hue2212		{ color: #bc5a65;  }
#hue2215		{ color: #585858;  }
#hue2217		{ color: #af0f91;  }
#hue2219		{ color: #585858;  }
#hue2221		{ color: #af0f91;  }
#hue2223		{ color: #585858;  }
#hue2225		{ color: #000000;  }
#hue2227		{ color: #ad95af;  }
#hue2230		{ color: #585858;  }
#hue2232		{ color: #000000;  }
#hue2234		{ color: #bc5a65;  }
#hue2237		{ color: #585858;  }
#hue2239		{ color: #55aa55;  }
#hue2241		{ color: #585858;  }
#hue2243		{ color: #bc5a65;  }
#hue2246		{ color: #585858;  }
#hue2248		{ color: #317ecc;  }
#hue2250		{ color: #585858;  }
#hue2252		{ color: #317ecc;  }
#hue2254		{ color: #585858;  }
#hue2256		{ color: #317ecc;  }
#hue2258		{ color: #585858;  }
#hue2260		{ color: #ad95af;  }
#hue2263		{ color: #585858;  }
#hue2265		{ color: #000000;  }
#hue2267		{ color: #bc5a65;  }
#hue2270		{ color: #585858;  }
#hue2272		{ color: #af0f91;  }
#hue2274		{ color: #585858;  }
#hue2276		{ color: #af0f91;  }
#hue2278		{ color: #585858;  }
#hue2280		{ color: #000000;  }
#hue2282		{ color: #585858;  }
#hue2284		{ color: #000000;  }
#hue2286		{ color: #bc5a65;  }
#hue2289		{ color: #585858;  }
#hue2291		{ color: #000000;  }
#hue2293		{ color: #bc5a65;  }
#hue2296		{ color: #585858;  }
#hue2298		{ color: #55aa55;  }
#hue2300		{ color: #585858;  }
#hue2302		{ color: #317ecc;  }
#hue2304		{ color: #585858;  }
#hue2306		{ color: #55aa55;  }
#hue2308		{ color: #585858;  }
#hue2310		{ color: #317ecc;  }
#hue2312		{ color: #585858;  }
#hue2314		{ color: #bc5a65;  }
#hue2317		{ color: #585858;  }
#hue2319		{ color: #bc5a65;  }
#hue2322		{ color: #585858;  }
#hue2324		{ color: #af0f91;  }
#hue2326		{ color: #000000;  }
#hue2328		{ color: #af0f91;  }
#hue2330		{ color: #585858;  }
#hue2332		{ color: #55aa55;  }
#hue2334		{ color: #585858;  }
#hue2336		{ color: #af0f91;  }
#hue2338		{ color: #585858;  }
#hue2340		{ color: #55aa55;  }
#hue2342		{ color: #585858;  }
#hue2344		{ color: #bc5a65;  }
#hue2347		{ color: #585858;  }
#hue2349		{ color: #af0f91;  }
#hue2351		{ color: #585858;  }
#hue2353		{ color: #af0f91;  }
#hue2355		{ color: #585858;  }
#hue2357		{ color: #55aa55;  }
#hue2359		{ color: #585858;  }
#hue2361		{ color: #bc5a65;  }
#hue2364		{ color: #585858;  }
#hue2366		{ color: #af0f91;  }
#hue2368		{ color: #585858;  }
#hue2370		{ color: #af0f91;  }
#hue2372		{ color: #585858;  }
#hue2374		{ color: #585858;  }
#hue2376		{ color: #b05a65;  }
#hue2378		{ color: #bc5a65;  }
#hue2381		{ color: #585858;  }
#hue2383		{ color: #55aa55;  }
#hue2385		{ color: #585858;  }
#hue2387		{ color: #bc5a65;  }
#hue2390		{ color: #585858;  }
#hue2392		{ color: #af0f91;  }
#hue2394		{ color: #585858;  }
#hue2396		{ color: #af0f91;  }
#hue2398		{ color: #585858;  }
#hue2400		{ color: #af0f91;  }
#hue2402		{ color: #585858;  }
#hue2404		{ color: #af0f91;  }
#hue2406		{ color: #585858;  }
#hue2408		{ color: #000000;  }
#hue2410		{ color: #af0f91;  }
#hue2412		{ color: #585858;  }
#hue2414		{ color: #55aa55;  }
#hue2416		{ color: #585858;  }
#hue2418		{ color: #bc5a65;  }
#hue2421		{ color: #585858;  }
#hue2423		{ color: #af0f91;  }
#hue2425		{ color: #585858;  }
#hue2427		{ color: #af0f91;  }
#hue2429		{ color: #585858;  }
#hue2431		{ color: #af0f91;  }
#hue2433		{ color: #585858;  }
#hue2435		{ color: #af0f91;  }
#hue2437		{ color: #585858;  }
#hue2439		{ color: #585858;  }
#hue2441		{ color: #000000;  }
#hue2443		{ color: #585858;  }
#hue2445		{ color: #000000;  }
#hue2447		{ color: #bc5a65;  }
#hue2450		{ color: #585858;  }
#hue2452		{ color: #000000;  }
#hue2454		{ color: #bc5a65;  }
#hue2457		{ color: #585858;  }
#hue2459		{ color: #55aa55;  }
#hue2461		{ color: #585858;  }
#hue2463		{ color: #bc5a65;  }
#hue2466		{ color: #585858;  }
#hue2468		{ color: #bc5a65;  }
#hue2471		{ color: #585858;  }
#hue2473		{ color: #317ecc;  }
#hue2475		{ color: #585858;  }
#hue2477		{ color: #317ecc;  }
#hue2479		{ color: #585858;  }
#hue2481		{ color: #585858;  }
#hue2483		{ color: #b05a65;  }
#hue2485		{ color: #bc5a65;  }
#hue2488		{ color: #585858;  }
#hue2490		{ color: #55aa55;  }
#hue2492		{ color: #585858;  }
#hue2494		{ color: #bc5a65;  }
#hue2497		{ color: #585858;  }
#hue2499		{ color: #af0f91;  }
#hue2501		{ color: #585858;  }
#hue2503		{ color: #af0f91;  }
#hue2505		{ color: #585858;  }
#hue2507		{ color: #af0f91;  }
#hue2509		{ color: #585858;  }
#hue2511		{ color: #af0f91;  }
#hue2513		{ color: #585858;  }
#hue2515		{ color: #000000;  }
#hue2517		{ color: #af0f91;  }
#hue2519		{ color: #585858;  }
#hue2521		{ color: #585858;  }
#hue2523		{ color: #000000;  }
#hue2525		{ color: #585858;  }
#hue2527		{ color: #000000;  }
#hue2529		{ color: #bc5a65;  }
#hue2532		{ color: #585858;  }
#hue2534		{ color: #000000;  }
#hue2536		{ color: #bc5a65;  }
#hue2539		{ color: #585858;  }
#hue2541		{ color: #55aa55;  }
#hue2543		{ color: #585858;  }
#hue2545		{ color: #bc5a65;  }
#hue2548		{ color: #585858;  }
#hue2550		{ color: #bc5a65;  }
#hue2553		{ color: #585858;  }
#hue2555		{ color: #317ecc;  }
#hue2557		{ color: #585858;  }
#hue2559		{ color: #585858;  }
#hue2561		{ color: #b05a65;  }
#hue2563		{ color: #317ecc;  }
#hue2565		{ color: #ad95af;  }
#hue2568		{ color: #585858;  }
#hue2570		{ color: #b05a65;  }
#hue2572		{ color: #af0f91;  }
#hue2574		{ color: #585858;  }
#hue2576		{ color: #b05a65;  }
#hue2578		{ color: #bc5a65;  }
#hue2581		{ color: #585858;  }
#hue2583		{ color: #317ecc;  }
#hue2585		{ color: #585858;  }
#hue2587		{ color: #317ecc;  }
#hue2589		{ color: #585858;  }
#hue2591		{ color: #317ecc;  }
#hue2593		{ color: #585858;  }
#hue2595		{ color: #317ecc;  }
#hue2597		{ color: #585858;  }
#hue2599		{ color: #317ecc;  }
#hue2601		{ color: #585858;  }
#hue2603		{ color: #317ecc;  }
#hue2605		{ color: #585858;  }
#hue2607		{ color: #585858;  }
#hue2609		{ color: #b05a65;  }
#hue2611		{ color: #bc5a65;  }
#hue2614		{ color: #585858;  }
#hue2616		{ color: #317ecc;  }
#hue2618		{ color: #585858;  }
#hue2620		{ color: #bc5a65;  }
#hue2623		{ color: #585858;  }
#hue2625		{ color: #585858;  }
#hue2627		{ color: #bc5a65;  }
#hue2630		{ color: #585858;  }
#hue2632		{ color: #bc5a65;  }
#hue2635		{ color: #585858;  }
#hue2637		{ color: #af0f91;  }
#hue2639		{ color: #585858;  }
#hue2641		{ color: #af0f91;  }
#hue2643		{ color: #585858;  }
#hue2645		{ color: #000000;  }
#hue2647		{ color: #bc5a65;  }
#hue2650		{ color: #585858;  }
#hue2652		{ color: #55aa55;  }
#hue2654		{ color: #585858;  }
#hue2656		{ color: #af0f91;  }
#hue2658		{ color: #585858;  }
#hue2660		{ color: #55aa55;  }
#hue2662		{ color: #585858;  }
#hue2664		{ color: #bc5a65;  }
#hue2667		{ color: #585858;  }
#hue2669		{ color: #317ecc;  }
#hue2671		{ color: #585858;  }
#hue2673		{ color: #317ecc;  }
#hue2675		{ color: #585858;  }
#hue2677		{ color: #317ecc;  }
#hue2679		{ color: #585858;  }
#hue2681		{ color: #55aa55;  }
#hue2683		{ color: #585858;  }
#hue2685		{ color: #bc5a65;  }
#hue2688		{ color: #585858;  }
#hue2690		{ color: #bc5a65;  }
#hue2693		{ color: #585858;  }
#hue2695		{ color: #317ecc;  }
#hue2697		{ color: #585858;  }
#hue2699		{ color: #317ecc;  }
#hue2701		{ color: #585858;  }
#hue2703		{ color: #55aa55;  }
#hue2705		{ color: #585858;  }
#hue2707		{ color: #bc5a65;  }
#hue2710		{ color: #585858;  }
#hue2712		{ color: #af0f91;  }
#hue2714		{ color: #585858;  }
#hue2716		{ color: #af0f91;  }
#hue2718		{ color: #585858;  }
#hue2720		{ color: #af0f91;  }
#hue2722		{ color: #585858;  }
#hue2724		{ color: #55aa55;  }
#hue2726		{ color: #585858;  }
#hue2728		{ color: #bc5a65;  }
#hue2731		{ color: #585858;  }
#hue2733		{ color: #af0f91;  }
#hue2735		{ color: #585858;  }
#hue2737		{ color: #af0f91;  }
#hue2739		{ color: #585858;  }
#hue2741		{ color: #af0f91;  }
#hue2743		{ color: #585858;  }
#hue2745		{ color: #55aa55;  }
#hue2747		{ color: #585858;  }
#hue2749		{ color: #bc5a65;  }
#hue2752		{ color: #585858;  }
#hue2754		{ color: #317ecc;  }
#hue2756		{ color: #585858;  }
#hue2758		{ color: #317ecc;  }
#hue2760		{ color: #585858;  }
#hue2762		{ color: #55aa55;  }
#hue2764		{ color: #585858;  }
#hue2766		{ color: #bc5a65;  }
#hue2769		{ color: #585858;  }
#hue2771		{ color: #317ecc;  }
#hue2773		{ color: #585858;  }
#hue2775		{ color: #317ecc;  }
#hue2777		{ color: #585858;  }
#hue2779		{ color: #317ecc;  }
#hue2781		{ color: #585858;  }
#hue2783		{ color: #55aa55;  }
#hue2785		{ color: #585858;  }
#hue2787		{ color: #bc5a65;  }
#hue2790		{ color: #585858;  }
#hue2792		{ color: #af0f91;  }
#hue2794		{ color: #585858;  }
#hue2796		{ color: #af0f91;  }
#hue2798		{ color: #585858;  }
#hue2800		{ color: #585858;  }
#hue2802		{ color: #585858;  }
#hue2804		{ color: #ad95af;  }
#hue2807		{ color: #585858;  }
#hue2809		{ color: #b05a65;  }
#hue2811		{ color: #bc5a65;  }
#hue2814		{ color: #585858;  }
#hue2816		{ color: #af0f91;  }
#hue2818		{ color: #585858;  }
#hue2820		{ color: #af0f91;  }
#hue2822		{ color: #585858;  }
#hue2824		{ color: #bc5a65;  }
#hue2827		{ color: #585858;  }
#hue2829		{ color: #bc5a65;  }
#hue2832		{ color: #585858;  }
#hue2834		{ color: #bc5a65;  }
#hue2837		{ color: #585858;  }
#hue2839		{ color: #55aa55;  }
#hue2841		{ color: #585858;  }
#hue2843		{ color: #bc5a65;  }
#hue2846		{ color: #585858;  }
#hue2848		{ color: #af0f91;  }
#hue2850		{ color: #585858;  }
#hue2852		{ color: #af0f91;  }
#hue2854		{ color: #585858;  }
#hue2856		{ color: #bc5a65;  }
#hue2859		{ color: #585858;  }
#hue2861		{ color: #bc5a65;  }
#hue2864		{ color: #585858;  }
#hue2866		{ color: #bc5a65;  }
#hue2869		{ color: #585858;  }
#hue2871		{ color: #55aa55;  }
#hue2873		{ color: #585858;  }
#hue2875		{ color: #bc5a65;  }
#hue2878		{ color: #585858;  }
#hue2880		{ color: #af0f91;  }
#hue2882		{ color: #585858;  }
#hue2884		{ color: #af0f91;  }
#hue2886		{ color: #585858;  }
#hue2888		{ color: #bc5a65;  }
#hue2891		{ color: #585858;  }
#hue2893		{ color: #000000;  }
#hue2895		{ color: #585858;  }
#hue2897		{ color: #000000;  }
#hue2899		{ color: #bc5a65;  }
#hue2902		{ color: #585858;  }
#hue2904		{ color: #000000;  }
#hue2906		{ color: #bc5a65;  }
#hue2909		{ color: #585858;  }
#hue2911		{ color: #55aa55;  }
#hue2913		{ color: #585858;  }
#hue2915		{ color: #317ecc;  }
#hue2917		{ color: #585858;  }
#hue2919		{ color: #bc5a65;  }
#hue2922		{ color: #585858;  }
#hue2924		{ color: #000000;  }
#hue2926		{ color: #bc5a65;  }
#hue2929		{ color: #585858;  }
#hue2931		{ color: #55aa55;  }
#hue2933		{ color: #585858;  }
#hue2935		{ color: #000000;  }
#hue2937		{ color: #585858;  }
#hue2939		{ color: #000000;  }
#hue2941		{ color: #ad95af;  }
#hue2944		{ color: #585858;  }
#hue2946		{ color: #000000;  }
#hue2948		{ color: #bc5a65;  }
#hue2951		{ color: #585858;  }
#hue2953		{ color: #000000;  }
#hue2955		{ color: #bc5a65;  }
#hue2958		{ color: #585858;  }
#hue2960		{ color: #000000;  }
#hue2962		{ color: #bc5a65;  }
#hue2965		{ color: #585858;  }
#hue2967		{ color: #bc5a65;  }
#hue2970		{ color: #585858;  }
#hue2972		{ color: #55aa55;  }
#hue2974		{ color: #585858;  }
#hue2976		{ color: #000000;  }
#hue2978		{ color: #bc5a65;  }
#hue2981		{ color: #585858;  }
#hue2983		{ color: #bc5a65;  }
#hue2986		{ color: #585858;  }
#hue2988		{ color: #55aa55;  }
#hue2990		{ color: #585858;  }
#hue2992		{ color: #55aa55;  }
#hue2994		{ color: #585858;  }
#hue2996		{ color: #317ecc;  }
#hue2998		{ color: #585858;  }
#hue3000		{ color: #000000;  }
#hue3002		{ color: #bc5a65;  }
#hue3005		{ color: #585858;  }
#hue3007		{ color: #bc5a65;  }
#hue3010		{ color: #585858;  }
#hue3012		{ color: #55aa55;  }
#hue3014		{ color: #585858;  }
#hue3016		{ color: #000000;  }
#hue3018		{ color: #585858;  }
#hue3020		{ color: #55aa55;  }
#hue3022		{ color: #585858;  }
#hue3024		{ color: #000000;  }
#hue3026		{ color: #585858;  }
#hue3028		{ color: #000000;  }
#hue3030		{ color: #bc5a65;  }
#hue3033		{ color: #585858;  }
#hue3035		{ color: #317ecc;  }
#hue3037		{ color: #585858;  }
#hue3039		{ color: #000000;  }
#hue3041		{ color: #bc5a65;  }
#hue3044		{ color: #585858;  }
#hue3046		{ color: #bc5a65;  }
#hue3049		{ color: #585858;  }
#hue3051		{ color: #bc5a65;  }
#hue3054		{ color: #585858;  }
#hue3056		{ color: #317ecc;  }
#hue3058		{ color: #585858;  }
#hue3060		{ color: #317ecc;  }
#hue3062		{ color: #585858;  }
#hue3064		{ color: #000000;  }
#hue3066		{ color: #bc5a65;  }
#hue3069		{ color: #585858;  }
#hue3071		{ color: #bc5a65;  }
#hue3074		{ color: #585858;  }
#hue3076		{ color: #000000;  }
#hue3078		{ color: #585858;  }
#hue3080		{ color: #000000;  }
#hue3082		{ color: #bc5a65;  }
#hue3085		{ color: #585858;  }
#hue3087		{ color: #000000;  }
#hue3089		{ color: #bc5a65;  }
#hue3092		{ color: #585858;  }
#hue3094		{ color: #55aa55;  }
#hue3096		{ color: #585858;  }
#hue3098		{ color: #af0f91;  }
#hue3100		{ color: #585858;  }
#hue3102		{ color: #000000;  }
#hue3104		{ color: #bc5a65;  }
#hue3107		{ color: #585858;  }
#hue3109		{ color: #000000;  }
#hue3111		{ color: #bc5a65;  }
#hue3114		{ color: #585858;  }
#hue3116		{ color: #bc5a65;  }
#hue3119		{ color: #585858;  }
#hue3121		{ color: #55aa55;  }
#hue3123		{ color: #585858;  }
#hue3125		{ color: #55aa55;  }
#hue3127		{ color: #585858;  }
#hue3129		{ color: #317ecc;  }
#hue3131		{ color: #585858;  }
#hue3133		{ color: #55aa55;  }
#hue3135		{ color: #585858;  }
#hue3137		{ color: #af0f91;  }
#hue3139		{ color: #585858;  }
#hue3141		{ color: #000000;  }
#hue3143		{ color: #bc5a65;  }
#hue3146		{ color: #585858;  }
#hue3148		{ color: #585858;  }
#hue3150		{ color: #b05a65;  }
#hue3152		{ color: #317ecc;  }
#hue3154		{ color: #585858;  }
#hue3156		{ color: #b05a65;  }
#hue3158		{ color: #af0f91;  }
#hue3160		{ color: #585858;  }
#hue3162		{ color: #b05a65;  }
#hue3164		{ color: #bc5a65;  }
#hue3167		{ color: #585858;  }
#hue3169		{ color: #317ecc;  }
#hue3171		{ color: #585858;  }
#hue3173		{ color: #bc5a65;  }
#hue3176		{ color: #585858;  }
#hue3178		{ color: #585858;  }
#hue3180		{ color: #bc5a65;  }
#hue3183		{ color: #585858;  }
#hue3185		{ color: #000000;  }
#hue3187		{ color: #bc5a65;  }
#hue3190		{ color: #585858;  }
#hue3192		{ color: #af0f91;  }
#hue3194		{ color: #585858;  }
#hue3196		{ color: #af0f91;  }
#hue3198		{ color: #585858;  }
#hue3200		{ color: #000000;  }
#hue3202		{ color: #bc5a65;  }
#hue3205		{ color: #585858;  }
#hue3207		{ color: #55aa55;  }
#hue3209		{ color: #585858;  }
#hue3211		{ color: #af0f91;  }
#hue3213		{ color: #585858;  }
#hue3215		{ color: #bc5a65;  }
#hue3218		{ color: #585858;  }
#hue3220		{ color: #317ecc;  }
#hue3222		{ color: #585858;  }
#hue3224		{ color: #bc5a65;  }
#hue3227		{ color: #585858;  }
#hue3229		{ color: #317ecc;  }
#hue3231		{ color: #585858;  }
#hue3233		{ color: #317ecc;  }
#hue3235		{ color: #585858;  }
#hue3237		{ color: #317ecc;  }
#hue3239		{ color: #585858;  }
#hue3241		{ color: #000000;  }
#hue3243		{ color: #bc5a65;  }
#hue3246		{ color: #585858;  }
#hue3248		{ color: #af0f91;  }
#hue3250		{ color: #585858;  }
#hue3252		{ color: #af0f91;  }
#hue3254		{ color: #585858;  }
#hue3256		{ color: #000000;  }
#hue3258		{ color: #bc5a65;  }
#hue3261		{ color: #585858;  }
#hue3263		{ color: #55aa55;  }
#hue3265		{ color: #585858;  }
#hue3267		{ color: #af0f91;  }
#hue3269		{ color: #585858;  }
#hue3271		{ color: #55aa55;  }
#hue3273		{ color: #585858;  }
#hue3275		{ color: #317ecc;  }
#hue3277		{ color: #585858;  }
#hue3279		{ color: #55aa55;  }
#hue3281		{ color: #585858;  }
#hue3283		{ color: #af0f91;  }
#hue3285		{ color: #585858;  }
#hue3287		{ color: #bc5a65;  }
#hue3290		{ color: #585858;  }
#hue3292		{ color: #317ecc;  }
#hue3294		{ color: #585858;  }
#hue3296		{ color: #bc5a65;  }
#hue3299		{ color: #585858;  }
#hue3301		{ color: #317ecc;  }
#hue3303		{ color: #585858;  }
#hue3305		{ color: #317ecc;  }
#hue3307		{ color: #585858;  }
#hue3309		{ color: #317ecc;  }
#hue3311		{ color: #585858;  }
#hue3313		{ color: #000000;  }
#hue3315		{ color: #bc5a65;  }
#hue3318		{ color: #585858;  }
#hue3320		{ color: #af0f91;  }
#hue3322		{ color: #585858;  }
#hue3324		{ color: #af0f91;  }
#hue3326		{ color: #585858;  }
#hue3328		{ color: #000000;  }
#hue3330		{ color: #bc5a65;  }
#hue3333		{ color: #585858;  }
#hue3335		{ color: #55aa55;  }
#hue3337		{ color: #585858;  }
#hue3339		{ color: #af0f91;  }
#hue3341		{ color: #585858;  }
#hue3343		{ color: #55aa55;  }
#hue3345		{ color: #585858;  }
#hue3347		{ color: #317ecc;  }
#hue3349		{ color: #585858;  }
#hue3351		{ color: #55aa55;  }
#hue3353		{ color: #585858;  }
#hue3355		{ color: #af0f91;  }
#hue3357		{ color: #585858;  }
#hue3359		{ color: #55aa55;  }
#hue3361		{ color: #585858;  }
#hue3363		{ color: #af0f91;  }
#hue3365		{ color: #585858;  }
#hue3367		{ color: #bc5a65;  }
#hue3370		{ color: #585858;  }
#hue3372		{ color: #317ecc;  }
#hue3374		{ color: #585858;  }
#hue3376		{ color: #55aa55;  }
#hue3378		{ color: #585858;  }
#hue3380		{ color: #af0f91;  }
#hue3382		{ color: #585858;  }
#hue3384		{ color: #55aa55;  }
#hue3386		{ color: #585858;  }
#hue3388		{ color: #af0f91;  }
#hue3390		{ color: #585858;  }
#hue3392		{ color: #000000;  }
#hue3394		{ color: #bc5a65;  }
#hue3397		{ color: #585858;  }
#hue3399		{ color: #317ecc;  }
#hue3401		{ color: #585858;  }
#hue3403		{ color: #000000;  }
#hue3405		{ color: #bc5a65;  }
#hue3408		{ color: #585858;  }
#hue3410		{ color: #585858;  }
#hue3412		{ color: #b05a65;  }
#hue3414		{ color: #bc5a65;  }
#hue3417		{ color: #585858;  }
#hue3419		{ color: #317ecc;  }
#hue3421		{ color: #585858;  }
#hue3423		{ color: #55aa55;  }
#hue3425		{ color: #585858;  }
#hue3427		{ color: #af0f91;  }
#hue3429		{ color: #585858;  }
#hue3431		{ color: #55aa55;  }
#hue3433		{ color: #585858;  }
#hue3435		{ color: #af0f91;  }
#hue3437		{ color: #585858;  }
#hue3439		{ color: #000000;  }
#hue3441		{ color: #bc5a65;  }
#hue3444		{ color: #585858;  }
#hue3446		{ color: #55aa55;  }
#hue3448		{ color: #585858;  }
#hue3450		{ color: #55aa55;  }
#hue3452		{ color: #585858;  }
#hue3454		{ color: #ad95af;  }
#hue3457		{ color: #585858;  }
#hue3459		{ color: #b05a65;  }
#hue3461		{ color: #bc5a65;  }
#hue3464		{ color: #585858;  }
#hue3466		{ color: #317ecc;  }
#hue3468		{ color: #585858;  }
#hue3470		{ color: #55aa55;  }
#hue3472		{ color: #585858;  }
#hue3474		{ color: #317ecc;  }
#hue3476		{ color: #585858;  }
#hue3478		{ color: #585858;  }
#hue3480		{ color: #b05a65;  }
#hue3482		{ color: #bc5a65;  }
#hue3485		{ color: #585858;  }
#hue3487		{ color: #317ecc;  }
#hue3489		{ color: #585858;  }
#hue3491		{ color: #55aa55;  }
#hue3493		{ color: #585858;  }
#hue3495		{ color: #317ecc;  }
#hue3497		{ color: #585858;  }
#hue3499		{ color: #55aa55;  }
#hue3501		{ color: #585858;  }
#hue3503		{ color: #317ecc;  }
#hue3505		{ color: #585858;  }
#hue3507		{ color: #55aa55;  }
#hue3509		{ color: #585858;  }
#hue3511		{ color: #af0f91;  }
#hue3513		{ color: #585858;  }
#hue3515		{ color: #55aa55;  }
#hue3517		{ color: #585858;  }
#hue3519		{ color: #af0f91;  }
#hue3521		{ color: #585858;  }
#hue3523		{ color: #55aa55;  }
#hue3525		{ color: #585858;  }
#hue3527		{ color: #bc5a65;  }
#hue3530		{ color: #585858;  }
#hue3532		{ color: #317ecc;  }
#hue3534		{ color: #585858;  }
#hue3536		{ color: #55aa55;  }
#hue3538		{ color: #585858;  }
#hue3540		{ color: #317ecc;  }
#hue3542		{ color: #585858;  }
#hue3544		{ color: #55aa55;  }
#hue3546		{ color: #585858;  }
#hue3548		{ color: #317ecc;  }
#hue3550		{ color: #585858;  }
#hue3552		{ color: #55aa55;  }
#hue3554		{ color: #585858;  }
#hue3556		{ color: #000000;  }
#hue3558		{ color: #bc5a65;  }
#hue3561		{ color: #585858;  }
#hue3563		{ color: #bc5a65;  }
#hue3566		{ color: #585858;  }
#hue3568		{ color: #317ecc;  }
#hue3570		{ color: #585858;  }
#hue3572		{ color: #55aa55;  }
#hue3574		{ color: #585858;  }
#hue3576		{ color: #af0f91;  }
#hue3578		{ color: #585858;  }
#hue3580		{ color: #000000;  }
#hue3582		{ color: #bc5a65;  }
#hue3585		{ color: #585858;  }
#hue3587		{ color: #af0f91;  }
#hue3589		{ color: #585858;  }
#hue3591		{ color: #ad95af;  }
#hue3594		{ color: #ad95af;  }
#hue3597		{ color: #585858;  }
#hue3599		{ color: #b05a65;  }
#hue3601		{ color: #bc5a65;  }
#hue3604		{ color: #585858;  }
#hue3606		{ color: #317ecc;  }
#hue3608		{ color: #585858;  }
#hue3610		{ color: #317ecc;  }
#hue3612		{ color: #585858;  }
#hue3614		{ color: #317ecc;  }
#hue3616		{ color: #585858;  }
#hue3618		{ color: #317ecc;  }
#hue3620		{ color: #585858;  }
#hue3622		{ color: #317ecc;  }
#hue3624		{ color: #585858;  }
#hue3626		{ color: #317ecc;  }
#hue3628		{ color: #585858;  }
#hue3630		{ color: #317ecc;  }
#hue3632		{ color: #585858;  }
#hue3634		{ color: #317ecc;  }
#hue3636		{ color: #585858;  }
#hue3638		{ color: #317ecc;  }
#hue3640		{ color: #585858;  }
#hue3642		{ color: #317ecc;  }
#hue3644		{ color: #585858;  }
#hue3646		{ color: #317ecc;  }
#hue3648		{ color: #585858;  }
#hue3650		{ color: #317ecc;  }
#hue3652		{ color: #585858;  }
#hue3654		{ color: #317ecc;  }
#hue3656		{ color: #585858;  }
#hue3658		{ color: #317ecc;  }
#hue3660		{ color: #585858;  }
#hue3662		{ color: #317ecc;  }
#hue3664		{ color: #585858;  }
#hue3666		{ color: #317ecc;  }
#hue3668		{ color: #585858;  }
#hue3670		{ color: #ad95af;  }
#hue3673		{ color: #585858;  }
#hue3675		{ color: #b05a65;  }
#hue3677		{ color: #bc5a65;  }
#hue3680		{ color: #585858;  }
#hue3682		{ color: #317ecc;  }
#hue3684		{ color: #585858;  }
#hue3686		{ color: #317ecc;  }
#hue3688		{ color: #585858;  }
#hue3690		{ color: #317ecc;  }
#hue3692		{ color: #585858;  }
#hue3694		{ color: #317ecc;  }
#hue3696		{ color: #585858;  }
#hue3698		{ color: #317ecc;  }
#hue3700		{ color: #585858;  }
#hue3702		{ color: #317ecc;  }
#hue3704		{ color: #585858;  }
#hue3706		{ color: #317ecc;  }
#hue3708		{ color: #585858;  }
#hue3710		{ color: #317ecc;  }
#hue3712		{ color: #585858;  }
#hue3714		{ color: #585858;  }
#hue3716		{ color: #b05a65;  }
#hue3718		{ color: #bc5a65;  }
#hue3721		{ color: #585858;  }
#hue3723		{ color: #585858;  }
#hue3725		{ color: #b05a65;  }
#hue3727		{ color: #317ecc;  }
#hue3729		{ color: #585858;  }
#hue3731		{ color: #b05a65;  }
#hue3733		{ color: #bc5a65;  }
#hue3736		{ color: #585858;  }
#hue3738		{ color: #bc5a65;  }
#hue3741		{ color: #585858;  }
#hue3743		{ color: #ad95af;  }
#hue3746		{ color: #bc5a65;  }
#hue3749		{ color: #585858;  }
#hue3751		{ color: #317ecc;  }
#hue3753		{ color: #585858;  }
#hue3755		{ color: #bc5a65;  }
#hue3758		{ color: #585858;  }
#hue3760		{ color: #bc5a65;  }
#hue3763		{ color: #585858;  }
#hue3765		{ color: #317ecc;  }
#hue3767		{ color: #585858;  }
#hue3769		{ color: #295f94;  }
#hue3772		{ color: #585858;  }
#hue3774		{ color: #295f94;  }
#hue3777		{ color: #585858;  }
#hue3779		{ color: #585858;  }
#hue3781		{ color: #b05a65;  }
#hue3783		{ color: #bc5a65;  }
#hue3786		{ color: #585858;  }
#hue3788		{ color: #317ecc;  }
#hue3790		{ color: #585858;  }
#hue3792		{ color: #bc5a65;  }
#hue3795		{ color: #585858;  }
#hue3797		{ color: #585858;  }
#hue3799		{ color: #b05a65;  }
#hue3801		{ color: #bc5a65;  }
#hue3804		{ color: #585858;  }
#hue3806		{ color: #bc5a65;  }
#hue3809		{ color: #585858;  }
#hue3811		{ color: #317ecc;  }
#hue3813		{ color: #585858;  }
#hue3815		{ color: #317ecc;  }
#hue3819		{ color: #585858;  }
#hue3821		{ color: #585858;  }
#hue3823		{ color: #b05a65;  }
#hue3825		{ color: #bc5a65;  }
#hue3828		{ color: #585858;  }
#hue3830		{ color: #55aa55;  }
#hue3832		{ color: #585858;  }
#hue3834		{ color: #585858;  }
#hue3836		{ color: #b05a65;  }
#hue3838		{ color: #bc5a65;  }
#hue3841		{ color: #585858;  }
#hue3843		{ color: #585858;  }
#hue3845		{ color: #ad95af;  }
#hue3848		{ color: #585858;  }
#hue3850		{ color: #b05a65;  }
#hue3852		{ color: #585858;  }
#hue3854		{ color: #000000;  }
#hue3856		{ color: #bc5a65;  }
#hue3859		{ color: #585858;  }
#hue3861		{ color: #000000;  }
#hue3863		{ color: #af0f91;  }
#hue3865		{ color: #585858;  }
#hue3867		{ color: #bc5a65;  }
#hue3870		{ color: #585858;  }
#hue3872		{ color: #000000;  }
#hue3874		{ color: #af0f91;  }
#hue3876		{ color: #585858;  }
#hue3878		{ color: #000000;  }
#hue3880		{ color: #585858;  }
#hue3882		{ color: #000000;  }
#hue3884		{ color: #bc5a65;  }
#hue3887		{ color: #585858;  }
#hue3889		{ color: #585858;  }
#hue3891		{ color: #000000;  }
#hue3893		{ color: #bc5a65;  }
#hue3896		{ color: #585858;  }
#hue3898		{ color: #000000;  }
#hue3900		{ color: #bc5a65;  }
#hue3903		{ color: #585858;  }
#hue3905		{ color: #bc5a65;  }
#hue3908		{ color: #585858;  }
#hue3910		{ color: #55aa55;  }
#hue3912		{ color: #585858;  }
#hue3914		{ color: #55aa55;  }
#hue3916		{ color: #585858;  }
#hue3918		{ color: #317ecc;  }
#hue3920		{ color: #585858;  }
#hue3922		{ color: #55aa55;  }
#hue3924		{ color: #585858;  }
#hue3926		{ color: #af0f91;  }
#hue3928		{ color: #585858;  }
#hue3930		{ color: #000000;  }
#hue3932		{ color: #bc5a65;  }
#hue3935		{ color: #585858;  }
#hue3937		{ color: #585858;  }
#hue3939		{ color: #000000;  }
#hue3941		{ color: #585858;  }
#hue3943		{ color: #000000;  }
#hue3945		{ color: #bc5a65;  }
#hue3948		{ color: #585858;  }
#hue3950		{ color: #000000;  }
#hue3952		{ color: #585858;  }
#hue3954		{ color: #000000;  }
#hue3956		{ color: #bc5a65;  }
#hue3959		{ color: #585858;  }
#hue3961		{ color: #000000;  }
#hue3963		{ color: #af0f91;  }
#hue3965		{ color: #000000;  }
#hue3967		{ color: #585858;  }
#hue3969		{ color: #000000;  }
#hue3971		{ color: #af0f91;  }
#hue3973		{ color: #585858;  }
#hue3975		{ color: #000000;  }
#hue3977		{ color: #bc5a65;  }
#hue3980		{ color: #585858;  }
#hue3982		{ color: #55aa55;  }
#hue3984		{ color: #585858;  }
#hue3986		{ color: #bc5a65;  }
#hue3989		{ color: #585858;  }
#hue3991		{ color: #000000;  }
#hue3993		{ color: #bc5a65;  }
#hue3996		{ color: #585858;  }
#hue3998		{ color: #000000;  }
#hue4000		{ color: #bc5a65;  }
#hue4003		{ color: #585858;  }
#hue4005		{ color: #bc5a65;  }
#hue4008		{ color: #585858;  }
#hue4010		{ color: #55aa55;  }
#hue4012		{ color: #585858;  }
#hue4014		{ color: #000000;  }
#hue4016		{ color: #bc5a65;  }
#hue4019		{ color: #585858;  }
#hue4021		{ color: #585858;  }
#hue4023		{ color: #000000;  }
#hue4025		{ color: #585858;  }
#hue4027		{ color: #000000;  }
#hue4029		{ color: #bc5a65;  }
#hue4032		{ color: #585858;  }
#hue4034		{ color: #000000;  }
#hue4036		{ color: #585858;  }
#hue4038		{ color: #000000;  }
#hue4040		{ color: #bc5a65;  }
#hue4043		{ color: #585858;  }
#hue4045		{ color: #000000;  }
#hue4047		{ color: #af0f91;  }
#hue4049		{ color: #000000;  }
#hue4051		{ color: #585858;  }
#hue4053		{ color: #000000;  }
#hue4055		{ color: #af0f91;  }
#hue4057		{ color: #585858;  }
#hue4059		{ color: #000000;  }
#hue4061		{ color: #bc5a65;  }
#hue4064		{ color: #585858;  }
#hue4066		{ color: #55aa55;  }
#hue4068		{ color: #585858;  }
#hue4070		{ color: #bc5a65;  }
#hue4073		{ color: #585858;  }
#hue4075		{ color: #317ecc;  }
#hue4077		{ color: #585858;  }
#hue4079		{ color: #000000;  }
#hue4081		{ color: #bc5a65;  }
#hue4084		{ color: #585858;  }
#hue4086		{ color: #000000;  }
#hue4088		{ color: #bc5a65;  }
#hue4091		{ color: #585858;  }
#hue4093		{ color: #bc5a65;  }
#hue4096		{ color: #585858;  }
#hue4098		{ color: #000000;  }
#hue4100		{ color: #bc5a65;  }
#hue4103		{ color: #585858;  }
#hue4105		{ color: #000000;  }
#hue4107		{ color: #585858;  }
#hue4109		{ color: #55aa55;  }
#hue4111		{ color: #585858;  }
#hue4113		{ color: #af0f91;  }
#hue4115		{ color: #585858;  }
#hue4117		{ color: #000000;  }
#hue4119		{ color: #ad95af;  }
#hue4122		{ color: #bc5a65;  }
#hue4125		{ color: #585858;  }
#hue4127		{ color: #585858;  }
#hue4129		{ color: #000000;  }
#hue4131		{ color: #585858;  }
#hue4133		{ color: #000000;  }
#hue4135		{ color: #bc5a65;  }
#hue4138		{ color: #585858;  }
#hue4140		{ color: #000000;  }
#hue4142		{ color: #585858;  }
#hue4144		{ color: #000000;  }
#hue4146		{ color: #bc5a65;  }
#hue4149		{ color: #585858;  }
#hue4151		{ color: #000000;  }
#hue4153		{ color: #af0f91;  }
#hue4155		{ color: #000000;  }
#hue4157		{ color: #585858;  }
#hue4159		{ color: #000000;  }
#hue4161		{ color: #af0f91;  }
#hue4163		{ color: #585858;  }
#hue4165		{ color: #000000;  }
#hue4167		{ color: #bc5a65;  }
#hue4170		{ color: #585858;  }
#hue4172		{ color: #55aa55;  }
#hue4174		{ color: #585858;  }
#hue4176		{ color: #bc5a65;  }
#hue4179		{ color: #585858;  }
#hue4181		{ color: #317ecc;  }
#hue4183		{ color: #585858;  }
#hue4185		{ color: #000000;  }
#hue4187		{ color: #bc5a65;  }
#hue4190		{ color: #585858;  }
#hue4192		{ color: #55aa55;  }
#hue4194		{ color: #585858;  }
#hue4196		{ color: #af0f91;  }
#hue4198		{ color: #000000;  }
#hue4200		{ color: #585858;  }
#hue4202		{ color: #000000;  }
#hue4204		{ color: #bc5a65;  }
#hue4207		{ color: #585858;  }
#hue4209		{ color: #000000;  }
#hue4211		{ color: #ad95af;  }
#hue4214		{ color: #bc5a65;  }
#hue4217		{ color: #585858;  }
#hue4219		{ color: #000000;  }
#hue4221		{ color: #bc5a65;  }
#hue4224		{ color: #585858;  }
#hue4226		{ color: #bc5a65;  }
#hue4229		{ color: #585858;  }
#hue4231		{ color: #55aa55;  }
#hue4233		{ color: #585858;  }
#hue4235		{ color: #000000;  }
#hue4237		{ color: #bc5a65;  }
#hue4240		{ color: #585858;  }
#hue4242		{ color: #bc5a65;  }
#hue4245		{ color: #585858;  }
#hue4247		{ color: #af0f91;  }
#hue4249		{ color: #585858;  }
#hue4251		{ color: #af0f91;  }
#hue4253		{ color: #585858;  }
#hue4255		{ color: #000000;  }
#hue4257		{ color: #bc5a65;  }
#hue4260		{ color: #585858;  }
#hue4262		{ color: #317ecc;  }
#hue4264		{ color: #585858;  }
#hue4266		{ color: #000000;  }
#hue4268		{ color: #bc5a65;  }
#hue4271		{ color: #585858;  }
#hue4273		{ color: #317ecc;  }
#hue4275		{ color: #585858;  }
#hue4277		{ color: #000000;  }
#hue4279		{ color: #bc5a65;  }
#hue4282		{ color: #585858;  }
#hue4284		{ color: #585858;  }
#hue4286		{ color: #000000;  }
#hue4288		{ color: #585858;  }
#hue4290		{ color: #000000;  }
#hue4292		{ color: #bc5a65;  }
#hue4295		{ color: #585858;  }
#hue4297		{ color: #000000;  }
#hue4299		{ color: #bc5a65;  }
#hue4302		{ color: #585858;  }
#hue4304		{ color: #55aa55;  }
#hue4306		{ color: #585858;  }
#hue4308		{ color: #bc5a65;  }
#hue4311		{ color: #585858;  }
#hue4313		{ color: #55aa55;  }
#hue4315		{ color: #585858;  }
#hue4317		{ color: #af0f91;  }
#hue4319		{ color: #585858;  }
